body {
  background-color: #8f95e3;
  padding: 50px;
  color: #101028;
  font-family: "Quicksand";
}

.card {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
}
/*img style*/
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #e678a7;
}

.title {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.answer {
  display: flex;
  justify-content: center;
}

.name-input {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container-button {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btn.btn-primary {
  background-color: #fca82e;
  border-color: #e1b064;
  min-height: 40px;
  min-width: 96px;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #e1b064;
  border-color: #e1b064;
}

.head {
  display: flex;
  align-items: baseline;
}

.name-owner {
  flex-grow: 1;
  padding: 20px;
}

.date {
  flex-grow: 1;
  padding: 20px;
}
.question {
  display: flex;
  justify-content: center;
}

.answer-input {
  display: flex;
  justify-content: center;
}

.answer-input input {
  width: 250px;
  height: 50px;
}

.name-input input {
  width: 250px;
  height: 50px;
}

.year {
  padding: 10px;
}

.last-answer {
  font-style: italic;
  color: #3f4142;
  text-align: center;
}

.lastestAnswer {
  display: flex;
  justify-content: center;
}

#section-question {
  display: none;
}

#welcome-section {
  display: none;
}
